*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato', sans-serif;
    transition: 0.5s;
}

body, .cont{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
    color: white;
}

body{
    height: 100vh;
    background: linear-gradient(135deg, blue,purple);
    animation: backAni 2s ease infinite;
    background-size: 400% 400%;
}

    @keyframes backAni {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

h1, h2, #showType{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

h2{
    font-size: 0.75rem;
}

.cont{
    width: 100%;
}

#showType{
    font-size: 0.825rem;
}

#vl1, #vl2, #res, #sum, #sub, #mul, #div, #btnRes{
    outline: none;
    background: white;
    padding: 0.5rem;
    margin: 0.1rem;
    border: none;
    border-radius: 1rem;
    color: blue;
    font-weight: bold;
    animation: textAni 2s ease infinite;
}

@keyframes textAni {
    50%{color:purple}
    100%{color:blue}
}

#vl1, #vl2, #res{
    text-align: center;
}

#vl1:hover, #vl2:hover, #res:hover{
    background: rgb(209, 209, 209);
}

#sum, #sub, #mul, #div, #btnRes{
    border-radius: 90rem;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}

#sum:hover, #sub:hover, #mul:hover, #div:hover, #btnRes:hover{
    background: transparent;
    color: white;
    animation: none;
}

@media only screen and (max-width: 600px) {
    .cont {
      display: flex;
      flex-flow: column wrap;
    }
  }